fastapi[standard]
uvicorn
networkx
firebase-admin
google-genai
python-dotenv
cachetools
python-multipartgunicorn
uvicorn
pytest
pytest-asyncio
httpx
python-multipart
Pillow
geopy
exifread
psycopg2-binary
sqlalchemy
cloud-sql-python-connector[pg8000]
pg8000
